/admin/vendor/
/admin/storage/logs/*
/admin/storage/cookies/*
!/admin/storage/logs/README.md
/admin/templates/cache/*
!/admin/templates/cache/README.md
/admin/.DS_STORE
/admin/composer.lock
/angular/npm.debug.log
/angular/bower_components
/angular/node_modules
