<div class="col-md-3">
    <ul class="nav nav-list">
        <li><a href="#/admin">Dashboard</a></li>
        <li class="nav-header"  data-toggle="collapse" data-target="#users"> 
            <a href="javascript: void(0)">Users <span class="pull-right"> <i class="glyphicon glyphicon-chevron-down"></i></span></a>
            <ul class="nav nav-list collapse {{active ? 'in' : ''}}" id="users">
                <li><a href="#/admin/users">List all users</a></li>
                <li><a href="#/admin/users/create">Create a user</a></li>
            </ul>
        </li>
    </ul>
</div>